# =============================================================
# Dépendances Interface Streamlit — CancerScan IA
# NOTE : Streamlit N'a PAS besoin de TensorFlow
#        Il envoie juste les images à l'API via HTTP
# =============================================================
streamlit
requests
pillow